@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #2C2C2F;
}

main {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

section {
	width: 80%;
	margin: auto auto 100px auto;
}
section h1, h3 {
	text-align: center;
}
article h3 {
	font-size: 0.9rem;
	text-align: left;
}
ul {
	margin-bottom: 10px;
}
li {
	margin: 1px 0 1px 18px;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2C2C2F;
	height: 10vh;
}
footer p {
	color: white;
}
a {
	text-decoration: none;
	color: yellow;
	cursor: pointer;
}
.hero-section img {
	width: 50%;
	height: 50%;
	margin: 10px auto 30px auto;
	border-radius: 50% 50%;
}

.hero-section {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}

.description-section {
	display: flex;
	margin: 10px auto 90px auto;
	text-align: left;
}

.titles-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.black-bar {
	width: 15%;
	margin-top: 5px;
	border-bottom: solid 5px black;
	border-color: #2C2C2F;
}
.skill-section {
	display: flex;
	flex-direction: column;
}
.skill-section img {
	align-self: center;
}

@media (min-width: 700px){
    
    h1{
    	font-size: 3.5rem;
    }
    h3{
    	font-size: 2rem;
    }
    p{
    	font-size: 1.3rem;
    }

    .titles-section h3{
    	font-size: 1.7rem;
    	margin-bottom: 10px;
    }
}

@media (max-width: 499px){
    
    html{
        font-size:0.9rem;
    }
    section {
    	margin-bottom: 25px;
    }
    .hero-section {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.description-section {
		margin-bottom: 40px;
	}
	.titles-section {
    	margin-bottom: 20px;
    }
}
